.venv/
sextractor-master/
Euclid/data/
# Euclid/data/ERO-Dorado/
# Euclid/data/ERO-Fornax/

# Euclid/data/EUC_MER_FINAL-CAT_TILES/
# Euclid/data/EUC_MER_FINAL_MORPH-CAT_TILES/

# # all field images:
# Euclid/data/FornaxH/FCC168/field_FCC168.fits
# Euclid/data/FornaxH/FCC146/field_FCC146.fits
# Euclid/data/FornaxH/FCC148/field_FCC148.fits
# Euclid/data/FornaxH/FCC184/field_FCC184.fits
# Euclid/data/FornaxH/FCC156/field_FCC156.fits
# Euclid/data/FornaxH/FCC167/field_FCC167.fits
# Euclid/data/FornaxH/FCC181/field_FCC181.fits
# Euclid/data/FornaxH/FCC144/field_FCC144.fits
# Euclid/data/FornaxH/FCC147/field_FCC147.fits
# Euclid/data/dwarfs/D/field_dwarf_D.fits
# Euclid/data/dwarfs/E/field_dwarf_E.fits
# Euclid/data/dwarfs/B/field_dwarf_B.fits
# Euclid/data/dwarfs/A/field_dwarf_A.fits
# Euclid/data/dwarfs/C/field_dwarf_C.fits
# Euclid/data/FornaxLSB/FCC168/field_FCC168.fits
# Euclid/data/FornaxLSB/FCC146/field_FCC146.fits
# Euclid/data/FornaxLSB/FCC148/field_FCC148.fits
# Euclid/data/FornaxLSB/FCC184/field_FCC184.fits
# Euclid/data/FornaxLSB/FCC156/field_FCC156.fits
# Euclid/data/FornaxLSB/FCC167/field_FCC167.fits
# Euclid/data/FornaxLSB/FCC181/field_FCC181.fits
# Euclid/data/FornaxLSB/FCC144/field_FCC144.fits
# Euclid/data/FornaxLSB/FCC147/field_FCC147.fits
# Euclid/data/dwarfsH/D/field_dwarf_D.fits
# Euclid/data/dwarfsH/E/field_dwarf_E.fits
# Euclid/data/dwarfsH/B/field_dwarf_B.fits
# Euclid/data/dwarfsH/A/field_dwarf_A.fits
# Euclid/data/dwarfsH/C/field_dwarf_C.fits